@import "tailwindcss";
@import "@radix-ui/themes/styles.css";
@custom-variant dark (&:where(.dark, .dark *));
@plugin 'tailwind-scrollbar';
* {
  font-family: "Rubik", sans-serif !important;
  scroll-behavior: smooth;

  /* box-shadow: none !important; */
}

@theme {
  --animate-zoom: zoom 2s ease-in-out infinite;
  --animate-enter: enter 0.5s
    linear(
      0,
      0.003 0.4%,
      0.012 0.9%,
      0.026 1.4%,
      0.049 2%,
      0.109 3.3%,
      0.311 7.2%,
      0.409 9.3%,
      0.463 10.6%,
      0.513 11.9%,
      0.562 13.3%,
      0.606 14.7%,
      0.651 16.3%,
      0.691 17.9%,
      0.729 19.6%,
      0.762 21.3%,
      0.792 23.1%,
      0.82 25%,
      0.846 27%,
      0.868 29.1%,
      0.889 31.3%,
      0.907 33.6%,
      0.923 36.1%,
      0.937 38.7%,
      0.949 41.5%,
      0.959 44.5%,
      0.968 47.8%,
      0.976 51.3%,
      0.987 59.1%,
      0.994 68.8%,
      0.998 81.4%,
      1
    );
  --animate-leave: leave 0.5s
    linear(
      0,
      0.003 0.4%,
      0.012 0.9%,
      0.026 1.4%,
      0.049 2%,
      0.109 3.3%,
      0.311 7.2%,
      0.409 9.3%,
      0.463 10.6%,
      0.513 11.9%,
      0.562 13.3%,
      0.606 14.7%,
      0.651 16.3%,
      0.691 17.9%,
      0.729 19.6%,
      0.762 21.3%,
      0.792 23.1%,
      0.82 25%,
      0.846 27%,
      0.868 29.1%,
      0.889 31.3%,
      0.907 33.6%,
      0.923 36.1%,
      0.937 38.7%,
      0.949 41.5%,
      0.959 44.5%,
      0.968 47.8%,
      0.976 51.3%,
      0.987 59.1%,
      0.994 68.8%,
      0.998 81.4%,
      1
    );

  @keyframes zoom {
    0% {
      scale: 80%;
    }
    50% {
      scale: 100%;
    }
    100% {
      scale: 80%;
    }
  }
}

@keyframes enter {
  from {
    transform: scale(0.3);
  }
  to {
    transform: scale(1);
  }
}

@keyframes leave {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.3);
    opacity: 0;
  }
}

.react-datepicker__triangle {
  @apply hidden;
}

.react-datepicker__month-container {
  @apply dark:bg-transparent;
}

.react-datepicker__header {
  @apply !flex !flex-col !gap-3 !border-none bg-white dark:!bg-gray-700;
}
.react-datepicker__header h2 {
  @apply text-gray-700 dark:text-gray-300;
}

/* year dropdown */

.react-datepicker__year-dropdown--scrollable {
  @apply scrollbar-none space-y-2 !border-gray-200 !bg-white p-2 dark:!border-gray-500 dark:!bg-gray-700;
}

.react-datepicker__year-option {
  @apply !relative !rounded-lg text-gray-700 dark:!text-gray-300;
}

.react-datepicker__year-option:hover {
  @apply !bg-cyan-500 !text-gray-100 dark:!bg-cyan-700 dark:!text-white;
}

.react-datepicker__year-option--selected_year {
  @apply bg-cyan-600 !text-gray-100 dark:!bg-cyan-500 dark:!text-white;
}

/* year dropdown */

.react-datepicker__day-names .react-datepicker__day-name {
  @apply !text-gray-700 dark:!text-gray-300;
}

.react-datepicker__year-read-view--selected-year {
  @apply text-gray-700 dark:text-gray-300;
}

.react-datepicker {
  @apply !overflow-hidden !border-[1px] !border-gray-200 !bg-white shadow-lg shadow-gray-300/50 backdrop-blur-lg dark:!border-gray-600 dark:!bg-gray-800/30 dark:shadow-gray-900/50;
}

.react-datepicker__week div {
  @apply !text-gray-700 dark:!text-gray-300;
}

.react-datepicker__week div:hover {
  @apply !bg-cyan-500 !text-gray-50 dark:!bg-cyan-700 dark:!text-white;
}

.react-datepicker__day--keyboard-selected {
  @apply !bg-cyan-500 !text-gray-100 dark:!bg-cyan-700 dark:!text-white;
}

.react-datepicker__day--selected {
  @apply !bg-cyan-500 !text-gray-100 dark:!bg-cyan-700 dark:!text-white;
}

.react-datepicker__year-dropdown .react-datepicker__year-dropdown--scrollable {
  @apply bg-white dark:!bg-gray-800;
}

.ProseMirror-focused {
  @apply !border-none focus:!outline-none;
}

.tiptap h1 {
  @apply mb-2 text-3xl font-bold;
}
.tiptap h2 {
  @apply mb-2 text-2xl font-semibold;
}
.tiptap p {
  @apply text-base leading-relaxed;
}
.tiptap ul {
  @apply list-disc space-y-1 pl-6;
}
.tiptap ol {
  @apply list-decimal space-y-1 pl-6;
}
.tiptap blockquote {
  @apply border-l-4 border-gray-400 pl-4 text-gray-600 italic;
}
